<!DOCTYPE html>
<html>
    <head>
        <title>
            {% if page.title %}
                {{ page.title }}
            {% else %}
                {{ site.title }}
            {% endif %}
        </title>
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans&display=swap" rel="stylesheet">
        
        <style>
            h1, h2, h3, h4, h5, h6 {
                font-family: 'Amatic SC', cursive;
            }
            html, body, p {
                font-family: 'Josefin Sans', sans-serif;
            }
        </style>
        
    </head>
    <body>
        {{ content }}
    </body>
</html>
